In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
CollegeGPAData = pd.read_excel('Copy of 11-28 GPA.xlsx', sheet_name = 'Data')
CollegeGPADataParsed = pd.melt(CollegeGPAData, id_vars = ['student_id', 'colGPA'], value_vars = ['hsGPA', 'ACT', 'age', 'male', 'campus', 'soph', 'junior', 'senior', 'greek', 'car', 'siblings', 'bgfriend', 'clubs', 'skipped','alcohol','instate','fathcoll', 'mothcoll'], var_name = 'Categroy', value_name='Value')

In [25]:
Correlationreview = CollegeGPAData.corr()
Correlationreview = pd.DataFrame(data = Correlationreview['colGPA'])
Correlationreview = round(Correlationreview[(Correlationreview['colGPA']>=.1) | (Correlationreview['colGPA']<=-0.1)], 2)
Correlationreview

         colGPA
colGPA     1.00
hsGPA      0.41
ACT        0.21
senior    -0.10
drive     -0.11
PC         0.22
car       -0.12
clubs      0.16
skipped   -0.26
instate    0.17

In [30]:
correlatedcolumns = Correlationreview.index.values

TypeError: 'DataFrame' object is not callable